{% include base_path %}

<div class="portfolio__item">
  <article class="portfolio__card" itemscope itemtype="http://schema.org/CreativeWork">
    {% if post.header.teaser %}
      <div class="portfolio__image">
        <img src="{{ post.header.teaser | prepend: '/images/' | prepend: base_path }}" alt="{{ post.title }}" loading="lazy">
      </div>
    {% endif %}

    <div class="portfolio__body">
      <h2 class="portfolio__title" itemprop="headline">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
      </h2>

      {% if post.excerpt %}
        <p class="portfolio__excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncatewords: 30 }}</p>
      {% endif %}

      <div class="portfolio__meta">
        {% if post.tags %}
          <div class="portfolio__tags">
            {% for tag in post.tags %}
              <span class="portfolio__tag">{{ tag }}</span>
            {% endfor %}
          </div>
        {% endif %}

        {% if post.github %}
          <a href="{{ post.github }}" class="portfolio__github" title="View on GitHub" target="_blank" rel="noopener">
            <i class="fab fa-github"></i> Source
          </a>
        {% endif %}
      </div>
    </div>
  </article>
</div>
