{% include base_path %}

<div class="reading-card">
  <article class="reading-card__inner" itemscope itemtype="http://schema.org/CreativeWork">
    {% if post.cover %}
    <div class="reading-card__cover">
      <img src="{{ post.cover | prepend: '/images/' | prepend: base_path }}" alt="{{ post.title }} cover" loading="lazy">
    </div>
    {% endif %}

    <div class="reading-card__body">
      <h2 class="reading-card__title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ post.title }}</a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
        {% endif %}
      </h2>

      {% if post.author %}
      <p class="reading-card__author">by {{ post.author }}</p>
      {% endif %}

      {% if post.excerpt %}
      <p class="reading-card__excerpt" itemprop="description">
        {{ post.excerpt | strip_html | truncatewords: 30 }}
      </p>
      {% endif %}

      <div class="reading-card__meta">
        {% if post.rating %}
        <span class="reading-card__rating">
          {% assign stars = post.rating | times: 1 %}
          {% for i in (1..5) %}
            {% if i <= stars %}★{% else %}☆{% endif %}
          {% endfor %}
        </span>
        {% endif %}

        {% if post.collection %}
        <span class="archive__item-tag">{{ post.collection }}</span>
        {% endif %}

        {% if post.date %}
        <time class="archive__item-date" datetime="{{ post.date | date_to_xmlschema }}">
          {{ post.date | date: "%b %d, %Y" }}
        </time>
        {% endif %}
      </div>
    </div>

    {% if post.status %}
    <span class="reading-card__badge reading-card__badge--{{ post.status | downcase | replace: ' ', '-' }}">
      {{ post.status }}
    </span>
    {% endif %}
  </article>
</div>
